<!-- Login Modal -->
<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-modal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="loginModal.hide()" aria-label="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="login-modal-title">Login</h4>
      </div>

      <div class="modal-body">
        <alert type="danger" dismissible="true" dismissOnTimeout="3000" *ngIf="errorMessage" (close)="clearErrorMessage()">
          {{ errorMessage }}
        </alert>
        <form>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" name="email" required >
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" required >
          </div>
          <button type="submit" class="btn btn-warning btn-lg" (click)="login()">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
