<login-modal (onSubmitted)="changeUser($event)"></login-modal>
<signup-modal (onSubmitted)="changeUser($event)"></signup-modal>
<create-poll></create-poll>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/polls">Voting App</a>
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed=!isCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div *ngIf="!fetchingUserData" class="collapse navbar-collapse" [collapse]="isCollapsed" id="nav-items">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!user"><a (click)="showLoginModal()">Login</a></li>
        <li *ngIf="!user"><a (click)="showSignupModal()">Sign Up</a></li>
        <li *ngIf="user"><a routerLink="/my-polls">My Polls</a></li>
        <li *ngIf="user"><a (click)="showCreatePollModal()">Create Poll</a></li>
        <li *ngIf="user"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
