<h1>{{ poll.title }}</h1>
<form>
  <div class="form-group">
    <select class="form-control" [(ngModel)]="optionId" name="optionId" [disabled]="isNewOptionName()">
      <option value="" selected>Please select an option</option>
      <option *ngFor="let option of poll.options" value="{{option._id}}">
        {{ option.name }}
      </option>
    </select>
    <div class="form-group">
      <label>New Option: <input type="text" class="form-control" [(ngModel)]="newOptionName" name="newOptionName" [disabled]="isOptionSelected()" /></label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="vote()" [disabled]="!canVote || (!optionId && !newOptionName)">Submit</button>
</form>
