html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.text-center-xs {
  text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text-center-sm {
    text-align: center;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .text-center-md {
    text-align: center;
  }
  
  .text-left-md {
    text-align: left;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .text-center-lg {
    text-align: center;
  }
}
