<footer class="footer">
  <div class="container">
    <div class="row">
      <p class="col-xs-12 col-md-5 text-center-xs text-left-md">
        Written with Angular 2, Node.js and MongoDB to comply with <a href="https://www.freecodecamp.com/challenges/build-a-voting-app" target="_blank">Free Code Camp</a> spec.
      </p>
      <div class="col-xs-12 col-md-2 text-center">
        <a href="https://github.com/AryanJ-NYC/voting-app" target="_blank"><i class="fa fa-3x fa-github-square" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/aryanjabbari" target="_blank"><i class="fa fa-3x fa-linkedin-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
