.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

a > i {
  color: #333;
}

a > i:hover {
  color: #666;
}
